.Buttons {
    /* width: 100%; */
    margin: auto;
    min-width: 33%;
    max-width: 92%;
    /* height: 90%; */
    transition: all 1s ease
}

.Buttons-container {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #262C44;
    /* width: 100%; */
    padding: 20px 10px;
    border-radius: 10px;
    /* max-height: 100vh; */
    height: auto;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(5, 70px);
    row-gap: 10px;
    column-gap: 10px;
    margin-bottom: 20px;
    transition: all 1s ease;
}

.calSheet-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-height: 480px;
    background-color: #262c44;
    border-radius: 10px;
    margin: auto;
    width: 92%;
    color: white;
    transition: all 1s ease;
}

.calSheet-container p {
    padding: 20px
}

.cal-showcase {
    padding: 20px 0;
    width: 80%;
    /* background-color: black; */
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: scroll;
}

.cal {
    background-color: rgba(19, 22, 54, 0.671);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
}

.indexNo {
    padding-right: 20px
}

.Buttons-container-theme2 {
    background-color: #D3CDCD;
    transition: all 1s ease;
}

.Buttons-container-theme3 {
    background-color: #1E0836;
    transition: all 1s ease;
}

.Buttons-container button {
    cursor: pointer;
    outline: none;
}

.btn {
    padding: 20px;
    /* margin-right: 10px; */
    background-color: #E8E4DB;
    border: none;
    color: #323A45;
    border-radius: 5px;
    border-bottom: 4px solid#B2A295;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.calc-Del,
.ResetBtn {
    background-color: #647299;
    color: white;
    border: none;
    border-bottom: 4px solid #414F76;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    transition: all 1s ease
}

.ResetBtn {
    grid-column: span 2
}

.ResetBtn:hover,
.calc-Del:hover {
    background-color: #374364;
    transition: all 0.3s ease;
}

.EqualBtn:hover {
    background-color: #722118;
    transition: all 0.3s ease;
}

.hov:hover {
    background-color: #796d64;
    color: white;
    transition: all 0.3s ease;
}

.EqualBtn {
    grid-column: span 2;
}

.EqualBtn {
    background-color: #D03F30;
    color: white;
    border: none;
    border-bottom: 4px solid #922619;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
    transition: all 1s ease
}

.EqualBtn-theme2 {
    background-color: #C85401;
    border-bottom: 4px solid #863A01;
    transition: all 1s ease;
}

.EqualBtn-theme2:hover {
    background-color: #8b420d;
}

.EqualBtn-theme3 {
    background-color: #00DECF;
    border-bottom: 4px solid #6DF8EF;
    color: black;
    transition: all 1s ease;
}

.EqualBtn-theme3:hover {
    background-color: #159c93
}

.func-theme2 {
    background-color: #388187;
    border-bottom: 4px solid #285b5f;
    transition: all 1s ease
}

.func-theme2:hover {
    background-color: #204447
}

.func-theme3 {
    background-color: #56077C;
    border-bottom: 4px solid #BD16F4;
    transition: all 1s ease
}

.func-theme3:hover {
    background-color: #460f5f
}

.btn-pad-theme2 {
    background-color: #E5E4E0;
    border-bottom: 4px solid #b8b8b8;
    color: #37392E;
    transition: all 1s ease;
}

.btn-pad-theme2:hover {
    background-color: #979692;
}

.btn-pad-theme3 {
    background-color: #331B4D;
    border-bottom: 4px solid #86209D;
    color: #FEE63E;
    transition: all 1s ease;
}

.btn-pad-theme3:hover {
    background-color: #2a1342
}

.calSheet-container-th2 {
    background-color: #D3CDCD;
    color: #37392E;
}

.cal-showcase-th2 {
    background-color: rgb(189, 187, 187);
}

.calSheet-container-th3 {
    background-color: #1E0836;
    color: #FEE63E
}

.cal-showcase-th3 {
    background-color: #291142;
}

@media only screen and (min-width: 600px) {
    .Buttons-container button,
    .btn {
        /* height: 100px;
        width: 100px; */
        transition: all 1s ease;
    }
    .Buttons-container {
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: repeat(5, 100px);
        padding: 50px 0;
        transition-timing-function: ease;
        transition: all 1s ease
    }
}