    .App {
        background-color: #3B4664;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        min-height: 100vh;
        cursor: pointer;
        overflow: scroll;
        transition: background-color 1s ease
    }
    
    .theme2 {
        background-color: #E6E6E6;
        transition: background-color 1s ease
    }
    
    .theme3 {
        background-color: #17062A;
        transition: background-color 1s ease
    }
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    .calculatorBody {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding-top: 30px;
        /* height: 100vh; */
        /* max-width: 600px; */
        width: 0px;
        min-width: 380px;
        max-width: 600px;
        transition: width 2s ease
    }
    
    .calculatorHeader {
        margin: auto;
        display: flex;
        /* flex-direction: row; */
        justify-content: space-between;
        max-width: 92%;
        margin-bottom: 20px;
        color: white;
        transition: color 1s ease
    }
    
    .ThemeSlider {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Theme-Title {
        margin-right: 20px
    }
    
    .Theme-title-theme2 {
        color: #37392E;
        transition: color 1s ease
    }
    
    .Theme-title-theme3 {
        color: #FEE63E;
        transition: color 1s ease
    }
    
    .Theme-slider {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    @media only screen and (min-width: 600px) {
        .calculatorBody {
            width: 600px;
            transition-timing-function: 1s ease;
            transition: width 1s ease
        }
    }
    
    .scrollbar-hidden::-webkit-scrollbar {
        display: none
    }